@import "tailwindcss";
@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Start slightly above */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}

.animate-fadeDown {
  animation: fadeDown 1s ease-out forwards; /* Apply animation */
}
@keyframes fadeRight {
  0% {
    opacity: 0;
    transform: translateX(50px); /* Start offscreen to the right */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End in normal position */
  }
}

.animate-fadeRight {
  animation: fadeRight 0.6s ease-out forwards;
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px); /* Start offscreen to the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End in normal position */
  }
}
.animate-fadeLeft {
  animation: fadeLeft 0.6s ease-out forwards;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Start 30px below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}

.animate-fadeUp {
  animation: fadeUp 0.6s ease-out forwards;
}
